{% load static %}
{%include "administracion/base_admin.html" %}

<!-- bootstrap-->
<link href="{% static 'css/calendar.css' %}" rel="stylesheet">

{% block body %}

<td><a href="{% url 'gestiones:logout' %}" class="btn btn-warning btn-sm">cerrar sesion</a></td>

<div id="main-container" class="container mt-5">
    <h2 id="titulo-calendar">CALENDARIO</h2>
    <div id="year"></div>
    <div id='calendar-container'></div>
</div>

<!-- Modal -->
<div class="modal fade" id="reservaModal" tabindex="-1" role="dialog" aria-labelledby="reservaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservaModalLabel">Hacer Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reservaForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="espacio">Espacio</label>
                        <select id="espacio" class="form-control" name="espacio">
                            <!-- Opciones de espacio -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="motivo">Motivo</label>
                        <input type="text" class="form-control" id="motivo" name="motivo">
                    </div>
                    <div class="form-group">
                        <label for="fecha_inicio">Fecha y Hora de Inicio</label>
                        <input type="datetime-local" class="form-control" id="fecha_inicio" name="fecha_inicio">
                    </div>
                    <div class="form-group">
                        <label for="fecha_fin">Fecha y Hora de Fin</label>
                        <input type="datetime-local" class="form-control" id="fecha_fin" name="fecha_fin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="submitReserva">Reservar</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/calendar.js' %}"></script>

{% endblock %}

