{%include "base.html" %}
<!-- bootstrap-->
<style>

body{
    margin: 0;
    padding: 0;
    background-image: url('/static/bootstrap/img/frente cientifico.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh; 
    
    }
    .inicio {
      border-radius: 6px;
      width: 39%;
      height: auto;
      background: rgb(255, 255, 255);
      position: relative;
      top: 20%;
      left: 28%;
      padding: 2% 5%;
      text-align: center;
  }
    @media (max-width: 1200px) {
      .inicio {
          width: 80%;
          left: 10%;
      }
  }
  
  @media (max-width: 992px) {
      .inicio {
          width: 90%;
          left: 5%;
      }
  }
  
  @media (max-width: 768px) {
      .inicio {
          width: 100%;
          left: 0;
          padding: 5%;
      }
  }
  
  @media (max-width: 576px) {
      .inicio {
          padding: 5%;
      }
  }

  .titulo{
    padding-bottom: 3%;
    padding-top:3%;
    }

    .blue{
      color:#1E4ADD;
    }
    .informacion{
    padding:8% 3%;
    font-size: 110%;
    }
    .contenedor-btn{
    text-align: center;
    position: relative;
    top:-18%;
    }
    .contenedor-btn > a {
      background:#1E4ADD;
    }
</style>


{% block body %}

<div class="inicio">
    <h1 class="titulo">Realize su <span class="blue" >reserva</span>  a tiempo</h1>
     
     <p class="informacion">El proyecto de Reserva de Auditorios y Salones SENNOVA busca proporcionar una solución
      innovadora y eficiente para la gestión de reservas en el complejo científico. La iniciativa está 
      diseñada para optimizar el proceso de solicitud y administración de espacios, permitiendo a 
      estudiantes, agentes externos,  instructores y personal administrativo reservar el auditorio 
      y el salón SENNOVA.</p>

      <div class="contenedor-btn">
    <a href="{% url 'gestiones:login' %}" class="btn btn-primary" >Iniciar Sesión</a>


      </div>

</div>


{% endblock %}

