 {% extends "administracion/base_admin.html" %}


{% block content %}

<div class="contenedor_visita">
    <h1 class="titulo_visita">Registro de visita</h1>

    {% if messages %}
    <div class="container mt-3" id="messages-container">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <form class="formulario_visita" method="post" enctype="multipart/form-data" id="mainForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 espacio_v2">
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="nombres">Nombres</label>
                        {{ persona_form.nombres }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="apellidos">Apellidos</label>
                        {{ persona_form.apellidos }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="correo">Correo</label>
                        {{ persona_form.correo }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="grabacion">Autoriza grabación:</label>
                        <div class="d-flex align-items-center">

                            {% if persona_form.id_visita.grabacion %}
                            <img id="grabacion-on" class="btn-estado_v mr-2" src="/static/bootstrap/img/on.png" style="display: block;">
                            <img id="grabacion-off" class="btn-estado_v" src="/static/bootstrap/img/off.png" style="display: none;">
                        {% else %}
                            <img id="grabacion-on" class="btn-estado_v mr-2" src="/static/bootstrap/img/on.png" style="display: none;">
                            <img id="grabacion-off" class="btn-estado_v" src="/static/bootstrap/img/off.png" style="display: block;">
                        {% endif %}
                        <input type="hidden" name="grabacion" id="grabacion-input" value="{{ persona_form.id_visita.grabacion|yesno:"True,False" }}">
                        
                        </div>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="id_tipo_documento">Tipo Documento</label>
                        {{ persona_form.id_tipo_documento }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="identificacion">Identificación</label>
                        {{ persona_form.identificacion }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="telefono">Teléfono</label>
                        {{ persona_form.telefono }}
                    </div>
                    <div class="form-group  form_group_v col-md-6">
                        <label for="{{ form.id_genero.id_for_label }}">Género</label>
                        {{ persona_form.id_genero }}
                    </div>
                </div>
            </div>


            <div class="col-md-6 espacio_v">
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="{{ form.procedencia.id_for_label }}">Procedencia</label>
                        {{ visita_form.procedencia }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="{{ form.discapacidad.id_for_label }}">Discapacidad</label>
                        {{ visita_form.discapacidad }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="{{ form.id_area.id_for_label }}">Estrategia</label>
                        {{ persona_form.id_area }}
                    </div>
                    <div class="form-group form_group_v col-md-6" id="linea-field" style="display: none;">
                        <label for="{{ form.id_linea.id_for_label }}">Línea</label>
                        {{ persona_form.id_linea }}
                    </div>
                    <div class="form-group form_group_v col-md-6" id="ambiente-field" style="display: none;">
                        <label for="{{ form.id_ambiente.id_for_label }}">Ambiente</label>
                        {{ persona_form.id_ambiente }}
                    </div>
                    <div class="form-group form_group_v col-md-6" id="espacio-field" >
                        <label >Espacio</label>
                        <input type="text" value="Seleccione primero la estrategia" class="form-control" readonly>
                    </div>
                    <div class="form-group form_group_v col-md-6" id="no-permitido-field" style="display: none;">
                        <label>Espacio</label>
                        <input type="text" value="No aplica" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="fecha_inicio">Fecha de inicio</label>
                        {{ visita_form.fecha_inicio }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="fecha_finalizacion">Fecha de finalización</label>
                        {{ visita_form.fecha_finalizacion }}
                    </div>
                </div>




            </div>
        </div>
        
        <div class="horizontal_line_"></div>

    </form>

    <div class="vertical-line_v"></div>


<!-- registro asistentes -->
<div class="contenedor_visita2">
    <h1 class="titulo_visita">Registro de asistentes</h1>
    <form class="formulario_visita2" id="asistentesForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 espacio_v2">
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="nombres_asistente">Nombres</label>
                        {{ persona_form.nombre_asistente }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="apellidos_asistente">Apellidos</label>
                        {{ persona_form.apellidos_asistente }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="correo_asistente">Correo</label>
                        {{ persona_form.correo_asistente }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="telefono_asistente">Teléfono</label>
                        {{ persona_form.telefono_asistente }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="id_tipo_documento_asistente">Tipo Documento</label>
                        {{ persona_form.id_tipo_documento_asistente }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="identificacion_asistente">Identificación</label>
                        {{ persona_form.identificacion_asistente }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 espacio_v3">
                <div class="form-row">
                    <div class="form-group form_group_v col-md-6">
                        <label for="{{ form.procedencia_asistente.id_for_label }}">Procedencia</label>
                        {{ persona_form.procedencia_asistente }}
                    </div>
                    <div class="form-group form_group_v col-md-6">
                        <label for="{{ form.discapacidad_asistente.id_for_label }}">Discapacidad</label>
                        {{ persona_form.discapacidad_asistente }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group  form_group_v col-md-6">
                        <label for="{{ form.id_genero_asistente.id_for_label }}">Género</label>
                        {{ persona_form.id_genero_asistente }}
                    </div>
                    <div class="form-group form_group_v2 col-md-6">
                        <label class="letrat" for="mostrarFormulario">c</label>
                        <button type="button" class="btn btnt btn-primary" id="mostrarFormulario">Asistentes en Excel</button>
                    </div>
                    <div class="form-group form_group_v2 col-md-6"></div>
                    <div class="form-group form_group_v2 col-md-6">
                        <label class="letrat" for="agregarAsistente">c</label>
                        <button type="button" class="btn btnt2 btn-primary" id="agregarAsistente">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-line_v2"></div>
        <div class="horizontal_line_2"></div>

    </form>
    

</div>

<!-- listado asistentes -->
<div class="contenedor_visita3">
    <h1 class="titulo_visita">Listado de asistentes</h1>

    <div class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="funcionarios-table" class="table table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Tipo Identificación</th>
                                    <th scope="col">Identificación</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Género</th>
                                    <th scope="col">Procedencia</th>
                                    <th scope="col">Discapacidad</th>

                                </tr>
                            </thead>
                            <tbody id="asistentesTableBody">
                                <!-- Aquí se agregarán las filas con JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Botón para guardar la visita -->
<button type="submit" form="mainForm" class="btn btnt3 btn-primary">Guardar visita</button>

</div>

<div id="ventanaEmergente">
    <div id="formularioEmergente">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Carga en excel</h5>
                <button type="button" class="btn-cerrar" aria-label="Close">
                    <img src="/static/bootstrap/img/cerrar.png" alt="Cerrar">
                </button>
            </div>
            <div class="modal-body" id="modalBodyContent">
                <a href="{% url 'visitas:descargar_excel' %}" class="btn btn-primary">Descargar Excel</a>
                <input type="file" id="archivoExcel" class="btn btn-primary" accept=".xlsx, .xls">
            </div>
        </div>
    </div>
</div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<script>
        // Función para ocultar cada mensaje después de 3 segundos
        setTimeout(function() {
            var messages = document.querySelectorAll('#messages-container .alert');
            messages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 3000); //segundos del mensaje
///fechas
document.addEventListener("DOMContentLoaded", function() {
    let config = {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        minTime: "08:00",
        maxTime: "17:00",
        locale: "es",
        disable: [
            function(date) {
                // Disable weekends
                return (date.getDay() === 6 || date.getDay() === 0);
            }
        ],
        minuteIncrement: 30,
        onChange: function(selectedDates, dateStr, instance) {
            // No action needed here
        },
        onClose: function(selectedDates, dateStr, instance) {
            let startDatePicker = document.getElementById("id_fecha_inicio")._flatpickr;
            let endDatePicker = document.getElementById("id_fecha_finalizacion")._flatpickr;

            if (startDatePicker.selectedDates.length) {
                let startDate = startDatePicker.selectedDates[0];
                let startHours = startDate.getHours();
                if (startHours === 12) {
                    alert("No es posible establecer la fecha de inicio a las 12:00.");
                    startDatePicker.clear();
                    startDatePicker.open();
                }
            }

            if (startDatePicker.selectedDates.length && endDatePicker.selectedDates.length) {
                let startDate = startDatePicker.selectedDates[0];
                let endDate = endDatePicker.selectedDates[0];
                if (startDate.toDateString() !== endDate.toDateString()) {
                    alert("La fecha de inicio y finalización deben ser el mismo día");
                    endDatePicker.clear();
                    endDatePicker.open();
                }
            }
        },
        onOpen: function(selectedDates, dateStr, instance) {
            let date = instance.input._flatpickr.selectedDates[0];
            if (date) {
                let hours = date.getHours();
                if (hours >= 12 && hours < 14) {
                    instance.set("minTime", "14:00");
                } else if (hours >= 8 && hours < 12) {
                    instance.set("minTime", "08:00");
                    instance.set("maxTime", "12:00");
                }
            }
        }
    };

    flatpickr("#id_fecha_inicio", config);
    flatpickr("#id_fecha_finalizacion", config);
});


// Script para manejar la grabación
document.addEventListener('DOMContentLoaded', function() {
    var grabacionOn = document.getElementById('grabacion-on');
    var grabacionOff = document.getElementById('grabacion-off');
    var grabacionInput = document.getElementById('grabacion-input');

    // Mostrar la imagen correcta al cargar
    if (grabacionInput.value === 'True') {
        grabacionOn.style.display = 'block';
        grabacionOff.style.display = 'none';
    } else {
        grabacionOn.style.display = 'none';
        grabacionOff.style.display = 'block';
    }

    grabacionOn.onclick = function() {
        this.style.display = 'none';
        grabacionOff.style.display = 'block';
        grabacionInput.value = 'False';
    };

    grabacionOff.onclick = function() {
        this.style.display = 'none';
        grabacionOn.style.display = 'block';
        grabacionInput.value = 'True';
    };
});


///maneja area dinamicamente
    document.addEventListener("DOMContentLoaded", function() {
        var areaField = document.getElementById('id_id_area'); // Asegúrate de que este id coincida
        var lineaField = document.getElementById('linea-field');
        var ambienteField = document.getElementById('ambiente-field');
        var espacioField = document.getElementById('espacio-field');
        var nopermiteField = document.getElementById('no-permitido-field');

    
        function updateFields() {
            var selectedValue = areaField.options[areaField.selectedIndex].text;

            lineaField.querySelector('select').removeAttribute('required');
            ambienteField.querySelector('select').removeAttribute('required');
            espacioField.querySelector('input').removeAttribute('required');
            nopermiteField.querySelector('input').removeAttribute('required');
        
            lineaField.style.display = "none";
            ambienteField.style.display = "none";
            espacioField.style.display = "none";
            nopermiteField.style.display = "none";
        

        
            if (selectedValue === "Tecnoparque") {
                lineaField.style.display = "block";
                
            } else if (selectedValue === "Tecnoacademia") {
                ambienteField.style.display = "block";

            } else if (selectedValue === "Sennova") {
                nopermiteField.style.display = "block";

            } else {
                espacioField.style.display = "block";
            }
        }
        
        
    
        // Inicializar campos al cargar la página
        updateFields();
    
        // Actualizar campos cuando cambie el área
        areaField.addEventListener("change", updateFields);
    });
    
    
    ///asistentes 
    document.addEventListener("DOMContentLoaded", function() {
        let asistentes = [];
    
        //Leer el archivo Excel
        function leerArchivoExcel(file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const data = new Uint8Array(e.target.result);
                const workbook = XLSX.read(data, { type: 'array' });
                const firstSheetName = workbook.SheetNames[0];
                const worksheet = workbook.Sheets[firstSheetName];
                const jsonData = XLSX.utils.sheet_to_json(worksheet, { header: 1 });
                
                // Eliminar la primera fila (cabecera)
                jsonData.shift();
        
                // Procesar cada fila
                jsonData.forEach((row, index) => {
                    const nombres = row[0];
                    const apellidos = row[1];
                    const correo = row[2];
                    const telefono = row[3];
                    const tipoDocumentoTexto = row[4];
                    const identificacion = row[5];
                    const genero_atexto = row[6];
                    const procedencia_a = row[7];
                    const discapacidad_a = row[8];


                    const tipoDocumentoMap = {
                        "CC": 1,
                        "PS": 2,
                        "CE": 3
                        // Agrega más tipos de documentos según sea necesario
                    };
                    
                    const generoMap = {
                        "M": 1,
                        "F": 2,
                        "NB": 3
                        // Agrega más géneros según sea necesario
                    };
                    
        
                    // Obtener IDs a partir de los textos usando los diccionarios
                    const idTipoDocumento = tipoDocumentoMap[tipoDocumentoTexto];
                    const genero_a = generoMap[genero_atexto];
        
                    // Validar los campos
                    if (!nombres || !apellidos || !correo || !telefono || !idTipoDocumento || !identificacion || !procedencia_a || !discapacidad_a || !genero_a) {
                        console.log('Fila incompleta o mapeo inválido:', row);
                        return;
                    }
        
                    const tableBody = document.getElementById('asistentesTableBody');
                    const rowCount = tableBody.rows.length + 1;
                    const rowElement = tableBody.insertRow();
                    rowElement.innerHTML = `
                        <th scope="row">${rowCount}</th>
                        <td>${nombres}</td>
                        <td>${apellidos}</td>
                        <td>${telefono}</td>
                        <td>${tipoDocumentoTexto}</td>
                        <td>${identificacion}</td>
                        <td>${correo}</td>
                        <td>${genero_atexto}</td>
                        <td>${procedencia_a}</td>
                        <td>${discapacidad_a}</td>
                    `;
        
                    asistentes.push({
                        nombres, apellidos, correo, telefono, idTipoDocumento, tipoDocumentoTexto, identificacion, genero_atexto, genero_a, procedencia_a, discapacidad_a
                    });
                });
            };
            reader.readAsArrayBuffer(file);
        }
        
    
        document.getElementById('archivoExcel').addEventListener('change', function(e) {
            const file = e.target.files[0];
            if (file) {
                leerArchivoExcel(file);
            }
        });
    
        document.getElementById('agregarAsistente').addEventListener('click', function() {
            // Obtener valores del formulario de asistente
            const nombres = document.querySelector('input[name="nombre_asistente"]').value;
            const apellidos = document.querySelector('input[name="apellidos_asistente"]').value;
            const correo = document.querySelector('input[name="correo_asistente"]').value;
            const telefono = document.querySelector('input[name="telefono_asistente"]').value;
            const idTipoDocumentoSelect = document.querySelector('select[name="id_tipo_documento_asistente"]');
            const idTipoDocumento = idTipoDocumentoSelect.value;
            const tipoDocumentoTexto = idTipoDocumentoSelect.options[idTipoDocumentoSelect.selectedIndex].text;
            const identificacion = document.querySelector('input[name="identificacion_asistente"]').value;
    
            const procedencia_a = document.querySelector('input[name="procedencia_asistente"]').value;
            const discapacidad_a = document.querySelector('input[name="discapacidad_asistente"]').value;
    
            const genero_aSelect = document.querySelector('select[name="id_genero_asistente"]');
            const genero_a = genero_aSelect.value;
            const genero_atexto = genero_aSelect.options[genero_aSelect.selectedIndex].text;
    
            // Validar los campos
            if (!nombres || !apellidos || !correo || !telefono || !idTipoDocumento || !identificacion || !procedencia_a|| !discapacidad_a|| !genero_a) {
                alert('Por favor complete todos los campos');
                return;
            }
    
            // Crear una nueva fila en la tabla
            const tableBody = document.getElementById('asistentesTableBody');
            const rowCount = tableBody.rows.length + 1;
            const row = tableBody.insertRow();
            row.innerHTML = `
                <th scope="row">${rowCount}</th>
                <td>${nombres}</td>
                <td>${apellidos}</td>
                <td>${telefono}</td>
                <td>${tipoDocumentoTexto}</td>
                <td>${identificacion}</td>
                <td>${correo}</td>
                <td>${genero_atexto}</td>
                <td>${procedencia_a}</td>
                <td>${discapacidad_a}</td>
            `;
    
            // Agregar el asistente al array
            asistentes.push({
                nombres, apellidos, correo, telefono, idTipoDocumento, tipoDocumentoTexto, identificacion, genero_atexto, genero_a, procedencia_a, discapacidad_a
            });
    
            // Limpiar campos
            document.querySelector('input[name="nombre_asistente"]').value = '';
            document.querySelector('input[name="apellidos_asistente"]').value = '';
            document.querySelector('input[name="correo_asistente"]').value = '';
            document.querySelector('input[name="telefono_asistente"]').value = '';
            document.querySelector('select[name="id_tipo_documento_asistente"]').value = '';
            document.querySelector('input[name="identificacion_asistente"]').value = '';
            document.querySelector('input[name="procedencia_asistente"]').value = '';
            document.querySelector('select[name="id_genero_asistente"]').value = '';
            document.querySelector('input[name="discapacidad_asistente"]').value = '';
        });
    
        // Enviar el formulario con los datos de los asistentes
        document.getElementById('mainForm').addEventListener('submit', function(e) {
            // Añadir los asistentes como un campo oculto en el formulario
            const asistentesInput = document.createElement('input');
            asistentesInput.type = 'hidden';
            asistentesInput.name = 'asistentes';
            asistentesInput.value = JSON.stringify(asistentes);
            this.appendChild(asistentesInput);
        });
    });
    

    ////modal
document.addEventListener('DOMContentLoaded', function() {
    var botonMostrar = document.getElementById("mostrarFormulario");
    var ventanaEmergente = document.getElementById("ventanaEmergente");
    var modalBodyContent = document.getElementById("modalBodyContent");

    botonMostrar.addEventListener("click", () => {
        // Mostrar la ventana emergente
        ventanaEmergente.style.display = "flex";
        

    });

    const btnCerrar = document.querySelector("#formularioEmergente .btn-cerrar");

    btnCerrar.addEventListener("click", function() {
        ventanaEmergente.style.display = "none";
    });
});
</script>

{% endblock %}
