       .navbar-custom {
            background-color: #272727; /* Color negro */
            padding-left: 1.5%;
        }
        .navbar-custom > a {
            font-size: 170%;
        }

        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-image: url("/static/bootstrap/img/fondo_oscuro.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center bottom;
            height: 100vh;
        }

        h3 {
            font-size: 1.2375rem;
            color: #FFF;
        }

        a{
            cursor: pointer;
            text-decoration: none;
            font-family: sans-serif;
            color:white;
        }

        li {
            list-style: none;
        }

        .wrapper {
            align-items: stretch;
            display: flex;
            width: 100%;
            height: 100vh; /* Ajuste para ocupar toda la altura de la ventana */
        }

        #sidebar {
            max-width: 330px;
            min-width: 330px;
            height: 100%; /* Ajuste para ocupar toda la altura de la ventana */
            transition: all 0.35s ease-in-out;
            box-shadow: 10px 0 35px 0 rgba(67, 67, 67, 0.5);
            z-index: 1111;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #sidebar.collapsed {
            margin-left: -330px;
        }

        .main {
            width: 100%;
            height:100%;
            transition: all 0.35s ease-in-out;
            overflow-y:scroll;
            

        }

        .sidebar-logo {
            padding: 1.15rem 1.5rem;
        }

        .sidebar-logo a {
            color: #e9ecef;
            font-size: 1.30rem;
            font-weight: 600;
            text-decoration: none;

        }

        .sidebar-nav {
            padding: 0;
        }

        .sidebar-header {
            color: #e9ecef;
            font-size: .90rem;
            padding: 1.5rem 1.5rem .375rem;
        }

        a.sidebar-link {
            padding: .625rem 1.625rem;
            color: #e9ecef;
            position: relative;
            display: block;
            font-size: 1rem;
            text-decoration: none;
        }

        .sidebar-link[data-bs-toggle="collapse"]::after {
            border: solid;
            border-width: 0 .075rem .075rem 0;
            content: "";
            display: inline-block;
            padding: 2px;
            position: absolute;
            right: 1.5rem;
            top: 1.4rem;
            transform: rotate(-135deg);
            transition: all .2s ease-out;
        }

        .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
            transform: rotate(45deg);
            transition: all .2s ease-out;
        }



        .menu {
            width: 24px;
            height: 24px;
        }

        .menu_cont:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }

        footer {
            color: white;
            width: 100%;
            padding: 10px;
            background-color: transparent;
        }

        .footer-buttons {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .footer-buttons button {
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 105%;
        }

/* modal terminos */
#ventanaEmergente2 { 
    display: none;
    position: fixed; /* Ajustado a fixed para que cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Ajustado para mayor prioridad */
}

#formularioEmergente2 {
    width: 90%; /* Ancho predeterminado */
    max-width: 600px; /* Ancho máximo para pantallas grandes */
    margin: auto;
}


#ventanaEmergente232 { 
    display: none;
    position: fixed; /* Ajustado a fixed para que cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 1050; /* Ajustado para mayor prioridad */
}

#formularioEmergente232 {
    width: 90%; /* Ancho predeterminado */
    max-width: 600px; /* Ancho máximo para pantallas grandes */
    margin: auto;
}

.modal-content {
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Para que los bordes redondeados funcionen correctamente */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
    background-color: white;
    position: relative;
    overflow-x: scroll;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #dee2e6;
    background-color: #f8f9fa; /* Fondo claro */
}

.modal-header h5 {
    margin: 0;
    font-size: 1.25rem;
}

.btn-cerrar {
    width: 24px; /* Ajustado para mayor claridad */
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cerrar img {
    width: 100%;
    height: 100%;
}

.modal-body {
    padding: 1.5rem;
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
    #formularioEmergente2 {
        width: 95%; /* Más ancho en pantallas pequeñas */
    }
    
    #formularioEmergente232 {
        width: 95%; /* Más ancho en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .modal-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .modal-header h5 {
        margin-bottom: 0.5rem;
    }

}
