{% extends "administracion/base_admin.html" %}


{% block content %}

<div class="contenedor">
    <h1 class="titulo">Administración de Visitas</h1>

    <div class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="container my-4">
                            <form class="row" id="search-form" method="get" action="{% url 'visitas:buscar_visita' %}">
                                <!-- Barra seleccionable -->
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <select name="estado" class="custom-select" onchange="submitForm()">
                                            <option value="todos" {% if estado == 'todos' %}selected{% endif %}>Todos</option>
                                            <option value="habilitados" {% if estado == 'habilitados' %}selected{% endif %}>Visitas aprobadas</option>
                                            <option value="inhabilitados" {% if estado == 'inhabilitados' %}selected{% endif %}>Visitas por aprobar</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Barra de búsqueda -->
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ query }}">
                                        <div class="input-group-append">
                                            
                                            <button type="submit" class="btn btn-success">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card-body">
                        {% if query %}
                        <h4>Resultados para "{{ query }}"</h4>
                        {% endif %}

                        {% if resultados and resultados|length > 0 %}
                        <div class="table-responsive">
                            <table id="funcionarios-table" class="table table-striped table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col"  class="d-none">Telefono</th>
                                        <th scope="col">Identificacion</th>
                                        <th scope="col">Fecha inicio</th>
                                        <th scope="col">Fecha finalizacion</th>
                                        <th scope="col">Procedencia</th>
                                        <th scope="col" class="d-none">correo</th>
                                        <th scope="col" class="d-none">discapacidad</th>
                                        <th scope="col" class="d-none">grabacion</th>
                                        <th scope="col" class="d-none">Tipo documento</th>
                                        <th scope="col" class="d-none">Genero</th>
                                        <th scope="col" class="d-none">estrategia</th>
                                        <th scope="col" class="d-none">Linea</th>
                                        <th scope="col" class="d-none">Ambiente</th>
                                        <th scope="col" class="d-none">Espacio</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in resultados %}
                                    <tr class="draggable-row" data-id="{{ c.id }}">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ c.id_persona.nombres }}</td>
                                        <td>{{ c.id_persona.apellidos }}</td>
                                        <td  class="d-none">{{ c.id_persona.telefono }}</td>
                                        <td>{{ c.id_persona.identificacion }}</td>
                                        <td>{{ c.fecha_inicio }}</td>
                                        <td>{{ c.fecha_finalizacion }}</td>
                                        <td>{{ c.procedencia }}</td>
                                        <td class="d-none">{{ c.id_persona.correo }}</td>
                                        <td class="d-none">{{ c.discapacidad }}</td>

                                        <td class="d-none">
                                            <input type="hidden" name="persona_id" value="{{ c.id_persona.id }}">
                                            {% if c.grabacion %}
                                            <button  class="btn-accion" type="button" title="Habilitado">
                                                <img class="btn-estado" src="/static/bootstrap/img/on.png">
                                            </button>
                                            {% else %}
                                            <button  class="btn-accion" type="button" title="Inhabilitado">
                                                <img class="btn-estado" src="/static/bootstrap/img/off.png">
                                            </button>
                                            {% endif %}
                                        </td>
                                        <td class="d-none">{{ c.id_persona.id_tipo_documento }}</td>
                                        <td class="d-none">{{ c.id_persona.id_genero }}</td>
                                        <td class="d-none">{{ c.id_persona.id_area }}</td>
                                        <td class="d-none">{{ c.id_persona.id_linea }}</td>
                                        <td class="d-none">{{ c.id_persona.id_ambiente }}</td>
                                        <td class="d-none">
                                            <input type="text" value="No aplica" class="form-control" readonly>
                                        </td>


                                        <td>
                                            <input type="hidden" name="persona_id" value="{{ c.id }}">
                                            {% if c.estado %}
                                            <button type="submit" class="btn-accion" title="Habilitado">
                                                <img class="btn-estado" src="/static/bootstrap/img/on.png">
                                            </button>
                                            {% else %}
                                            <button type="submit" class="btn-accion" title="Inhabilitado">
                                                <img class="btn-estado" src="/static/bootstrap/img/off.png">
                                            </button>
                                            {% endif %}
                                        </td>
                                        <td><button type="button" class="btn-ver-mas btn" data-id="{{ c.id }}">Ver más</button></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% if resultados.has_other_pages %}
                        <nav class="paginador">
                            <ul class="pagination">
                                {% if resultados.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?buscar={{ query }}&estado={{ estado }}&page={{ resultados.previous_page_number }}">Anterior</a>
                                </li>
                                {% endif %}
                                {% for num in resultados.paginator.page_range %}
                                <li class="page-item {% if resultados.number == num %}active{% endif %}">
                                    <a class="page-link" href="?buscar={{ query }}&estado={{ estado }}&page={{ num }}">{{ num }}</a>
                                </li>
                                {% endfor %}
                                {% if resultados.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?buscar={{ query }}&estado={{ estado }}&page={{ resultados.next_page_number }}">Siguiente</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                        {% else %}
                        <p>No se encontraron resultados para "{{ query }}".</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- modal -->
<div id="ventanaEmergente_vista">
    <div id="formularioEmergente_visita">
        <div class=" modal-content_v">
            <div class="modal-header">
                <h5 class="modal-title">Información del usuario</h5>
                <button type="button" class="btn-cerrar" aria-label="Close">
                    <img src="/static/bootstrap/img/cerrar.png" alt="Cerrar">
                </button>
            </div>
            <div class="modal-body" id="modalBodyContent">
                <form class="formulario_visita4">
                    <div class="row">
                        <div class="col-md-6 espacio_v2">
                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="nombres">Nombres</label>
                                    <input type="text" id="nombres" class="form-control" readonly>
                                </div>
                                <div class="form-group form_group_v col-md-6">
                                    <label for="apellidos">Apellidos</label>
                                    <input type="text" id="apellidos" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="correo">Correo</label>
                                    <input type="text"  id="correo" class="form-control" readonly>
                                </div>
                                <div class="form-group form_group_v col-md-6">
                                    <label for="grabacion">Autoriza grabación:</label>
                                    <div class="d-flex align-items-center">
                                        <div id="grabacion"></div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="id_tipo_documento">Tipo Documento</label>
                                    <input type="text" id="tipodocumento" class="form-control" readonly>
                                </div>
                                <div class="form-group form_group_v col-md-6">
                                    <label for="identificacion">Identificación</label>
                                    <input type="text"  id="identificacion" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="telefono">Teléfono</label>
                                    <input type="text" id="telefono" class="form-control" readonly>
                                </div>
                                <div class="form-group  form_group_v col-md-6">
                                    <label for="{{ form.id_genero.id_for_label }}">Género</label>
                                    <input type="text" id="genero" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
            
            
                        <div class="col-md-6 espacio_v">
                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="{{ form.procedencia.id_for_label }}">Procedencia</label>
                                    <input type="text" id="procedencia" class="form-control" readonly>
                                </div>
                                <div class="form-group form_group_v col-md-6">
                                    <label for="{{ form.discapacidad.id_for_label }}">Discapacidad</label>
                                    <input type="text" id="discapacidad" class="form-control" readonly>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="area">Estrategia</label>
                                    <input type="text" id="area" class="form-control" readonly>
                                </div>
                                <div id="lineaField" class="form-group form_group_v col-md-6">
                                    <label for="linea">Línea</label>
                                    <input type="text" id="linea" class="form-control" readonly>
                                </div>
                                <div id="ambienteField" class="form-group form_group_v col-md-6">
                                    <label for="ambiente">Ambiente</label>
                                    <input type="text" id="ambiente" class="form-control" readonly>
                                </div>
                                <div id="nopermiteField" class="form-group form_group_v col-md-6">
                                    <label for="espacio">Espacio</label>
                                    <input type="text" id="espacio" class="form-control" value="No aplica" readonly>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group form_group_v col-md-6">
                                    <label for="fecha_inicio">Fecha de inicio</label>
                                    <input type="text" id="fecha_inicio" class="form-control" readonly>
                                </div>
                                <div class="form-group form_group_v col-md-6">
                                    <label for="fecha_finalizacion">Fecha de finalización</label>
                                    <input type="text" id="fecha_finalizacion" class="form-control" readonly>
                                </div>
                            </div>
            
            
            
            
                        </div>
                    </div>
                    
                    <div class="horizontal_line_"></div>
            
                </form>
                <div class="vertical-line_v22"></div>

                <div class="modal-header ">
                    <h5 class="modal-title">Información del asistente</h5>
                </div>




                <div class="table-responsive">
                    <table id="funcionarios-table" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Tipo Documento</th>
                                <th scope="col">Identificación</th>
                                <th scope="col">Procedencia</th>
                                <th scope="col">Discapacidad</th>
                                <th scope="col">Género</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visita in resultados %}
                            <tr>
                                <td colspan="10">Visita ID: {{ visita.id }}</td>
                            </tr>
                                {% for asistente in visita.visita_asistente.all %}
                                    <tr class="draggable-row" data-id="{{ visita.id }}">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ asistente.nombre_asistente }}</td>
                                        <td>{{ asistente.apellidos_asistente }}</td>
                                        <td>{{ asistente.correo_asistente }}</td>
                                        <td>{{ asistente.telefono_asistente }}</td>
                                        <td>{{ asistente.id_tipo_documento_asistente.nombre }}</td>
                                        <td>{{ asistente.identificacion_asistente }}</td>
                                        <td>{{ asistente.procedencia_asistente }}</td>
                                        <td>{{ asistente.discapacidad_asistente }}</td>
                                        <td>{{ asistente.id_genero_asistente.nombre }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="10">No hay asistentes registrados para esta visita.</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
                
                

            
                            

            </div>
        </div>
    </div>
</div>


</div>

<script>

    function submitForm() {
        document.getElementById('search-form').submit();
    }
    document.addEventListener('DOMContentLoaded', function() {
        const ventanaEmergente = document.getElementById("ventanaEmergente_vista");
        const areaField = document.getElementById('area');
        const lineaField = document.getElementById('lineaField');
        const ambienteField = document.getElementById('ambienteField');
        const nopermiteField = document.getElementById('nopermiteField');
    
        function updateFields() {
            const selectedValue = areaField.value.trim();
    
            lineaField.querySelector('input').removeAttribute('required');
            ambienteField.querySelector('input').removeAttribute('required');
            nopermiteField.querySelector('input').removeAttribute('required');
    
            lineaField.style.display = "none";
            ambienteField.style.display = "none";
            nopermiteField.style.display = "none";
    
            if (selectedValue === "Tecnoparque") {
                lineaField.style.display = "block";
            } else if (selectedValue === "Tecnoacademia") {
                ambienteField.style.display = "block";
            } else if (selectedValue === "Sennova") {
                nopermiteField.style.display = "block";
            }
        }
    
        document.querySelectorAll('.btn-ver-mas').forEach(button => {
            button.addEventListener('click', function() {
                const row = this.closest('tr');
                const nombres = row.querySelector('td:nth-child(2)').textContent;
                const apellidos = row.querySelector('td:nth-child(3)').textContent;
                const telefono = row.querySelector('td:nth-child(4)').textContent; 
                const identificacion = row.querySelector('td:nth-child(5)').textContent; 
                const fecha_inicio = row.querySelector('td:nth-child(6)').textContent; 
                const fecha_finalizacion = row.querySelector('td:nth-child(7)').textContent; 
                const procedencia = row.querySelector('td:nth-child(8)').textContent; 
                const correo = row.querySelector('td:nth-child(9)').textContent; 
                const discapacidad = row.querySelector('td:nth-child(10)').textContent; 
                const grabacion = row.querySelector('td:nth-child(11)').innerHTML; 
                const tipodocumento = row.querySelector('td:nth-child(12)').textContent; 
                const genero = row.querySelector('td:nth-child(13)').textContent; 
                const area = row.querySelector('td:nth-child(14)').textContent; 
                const linea = row.querySelector('td:nth-child(15)').textContent; 
                const ambiente = row.querySelector('td:nth-child(16)').textContent; 
    
                document.getElementById('nombres').value = nombres;
                document.getElementById('apellidos').value = apellidos;
                document.getElementById('correo').value = correo;
                document.getElementById('identificacion').value = identificacion;
                document.getElementById('telefono').value = telefono;
                document.getElementById('procedencia').value = procedencia;
                document.getElementById('discapacidad').value = discapacidad;
                document.getElementById('fecha_inicio').value = fecha_inicio;
                document.getElementById('fecha_finalizacion').value = fecha_finalizacion;
                document.getElementById('grabacion').innerHTML = grabacion;
                document.getElementById('tipodocumento').value = tipodocumento;
                document.getElementById('genero').value = genero;
                document.getElementById('area').value = area;
                document.getElementById('linea').value = linea;
                document.getElementById('ambiente').value = ambiente;
    
    
                // Update fields visibility based on area
                updateFields();
    
                // Show the modal
                ventanaEmergente.style.display = "flex";
            });
        });
    
        const btnCerrar = document.querySelector("#formularioEmergente_visita .btn-cerrar");
    
        btnCerrar.addEventListener("click", function() {
            ventanaEmergente.style.display = "none";
        });
    });   


</script>

{% endblock %}
