<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sennova {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base_admin.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gestion_implemento_espacio_funcionario.css' %}">
    <link rel="stylesheet" href="{% static 'css/visita.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="wrapper">
    <aside id="sidebar">
        <div>
            <div class="sidebar-logo">
                <a href="" style="color: white;text-decoration: none;">Sennova</a>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-header">Usuario</li>
                <li class="sidebar-item">
                    <a href="{% url 'reservas:gestion_perfil' %}" class="sidebar-link" style="color: white;text-decoration: none;">
                        <i class="fa-regular fa-user pe-2"></i>
                        Perfil
                    </a>
                </li>
                <li class="sidebar-header">Reservas</li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#reservas-menu" aria-expanded="false" aria-controls="reservas-menu" style="color: white;text-decoration: none;">
                        <i class="fa-solid fa-sliders pe-2"></i>
                        Gestión de servicios
                    </a>
                    <ul id="reservas-menu" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'reservas:administracion_reservas' %}" class="sidebar-link" style="color: white;text-decoration: none;"> Reservas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'reservas:gestion_funcionario' %}" class="sidebar-link" style="color: white;text-decoration: none;"> Funcionarios</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#infraestructura-menu" aria-expanded="false" aria-controls="infraestructura-menu" style="color: white;text-decoration: none;">
                        <i class="fa-solid fa-share-nodes pe-2"></i>
                        Gestión de Infraestructura
                    </a>
                    <ul id="infraestructura-menu" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'reservas:gestion_implemento' %}" class="sidebar-link" style="color: white;text-decoration: none;"> Implementos</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'reservas:gestion_espacio' %}" class="sidebar-link" style="color: white;text-decoration: none;"> Espacios</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-header">Visitas</li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#visitas-menu" aria-expanded="false" aria-controls="visitas-menu" style="color: white;text-decoration: none;">
                        <i class="fa-regular fa-address-card"></i>
                        Visita externa
                    </a>
                    <ul id="visitas-menu" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="{% url 'visitas:home_visita' %}" class="sidebar-link" style="color: white;text-decoration: none;"> Realizar visita</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'visitas:administrador_visitas' %}" class="sidebar-link" style="color: white;text-decoration: none;"> Administrar Visitas</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <footer>
            <div class="footer-buttons">
                <button class="terminos" type="button" id="mostrarFormulario2">Términos y condiciones</button>
                <button type="button" class="terminos" onclick="cerrar_sesion();">Cerrar sesión</button>
            </div>
        </footer>
    </aside>
    <div class="main">
        <nav class="navbar navbar-expand px-3">
            <button class="menu_cont btn" type="button" data-bs-theme="dark">
                <img class="menu" src="{% static 'bootstrap/img/menu.png' %}" alt="">
            </button>
        </nav>
        <div id="ventanaEmergente2">
            <div id="formularioEmergente2">
                <div class="modal-content" style="overflow-y: scroll; max-height: 500px;">
                    <div class="modal-header">
                        <h5 class="modal-title">Términos y Condiciones para el Uso de los Espacios </h5>
                        <button type="button" class="btn-cerrar" aria-label="Close">
                            <img src="/static/bootstrap/img/cerrar.png" alt="Cerrar">
                        </button>
                    </div>
                    <div class="modal-body" >
                        1. Propósito del Uso de los Espacios<br>
                        Los espacios del SENA son destinados exclusivamente para actividades académicas, formativas y administrativas relacionadas con el desarrollo de los programas de formación y servicios que ofrece la institución. Cualquier otro uso debe ser previamente autorizado por la administración del SENA. <br><br>
                        2. Reservación de Espacios<br>
                        Las solicitudes para el uso de los espacios deben realizarse a través del sistema de registro de visitas y reservas. La aprobación de una reserva está sujeta a la disponibilidad del espacio y al cumplimiento de estos términos y condiciones.<br><br>
                        3. Responsabilidades del Solicitante<br>
                        El solicitante, como representante de su grupo, es responsable de:<br>
                        Asegurarse de que el espacio sea utilizado únicamente para el propósito especificado en la solicitud de reserva.<br>
                        Mantener el espacio en buen estado, evitando daños o alteraciones en la infraestructura, equipos y mobiliario.<br>
                        Garantizar que todos los participantes cumplan con las normas de seguridad y comportamiento establecidas por el SENA.<br>
                        Devolver el espacio en las mismas condiciones en que fue recibido, incluyendo la limpieza y el orden.<br><br>
                        4. Prohibiciones<br>
                        Queda prohibido:<br>
                        El consumo de alimentos y bebidas en áreas no designadas para tal fin.<br>
                        La manipulación de equipos y recursos del SENA sin la autorización correspondiente.<br>
                        La realización de actividades que pongan en riesgo la seguridad de los participantes o que sean contrarias a la misión y valores del SENA.<br>
                        Fumar, consumir alcohol o sustancias psicoactivas dentro de las instalaciones.<br><br>
                        5. Sanciones por Incumplimiento<br>
                        El incumplimiento de estos términos y condiciones puede resultar en:<br>
                        La cancelación inmediata de la reserva.<br>
                        La restricción temporal o permanente para realizar futuras reservas.<br>
                        La obligación de cubrir los costos de reparación o limpieza en caso de daños o alteraciones al espacio.<br><br>
                        6. Protección de Datos Personales<br>
                        Los datos personales recogidos en el proceso de registro y reserva serán tratados conforme a la Ley de Protección de Datos Personales vigente en Colombia. Estos serán utilizados exclusivamente para la gestión de las reservas y para fines administrativos internos.<br><br>
                        7. Modificación de los Términos y Condiciones<br>
                        El SENA se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán publicadas en el sistema de registro de visitas y reservas y serán aplicables a todas las reservas futuras.<br><br>
                        8. Aceptación de los Términos y Condiciones<br>
                        El uso de los espacios del SENA implica la aceptación plena y sin reservas de estos términos y condiciones. Al realizar una reserva, el solicitante confirma que ha leído, entendido y aceptado todos los términos y condiciones aquí expuestos.
                        
                        
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
    const toggler = document.querySelector(".menu_cont");
    toggler.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("collapsed");
    });

    $(document).on('show.bs.collapse', '.collapse', function () {
        $('.collapse.show').collapse('hide');
    });

    function cerrar_sesion() {
        if (confirm("¿Está seguro de que desea cerrar su sesión?")) {
            location.href = "{% url 'reservas:cerrar_sesion' %}";
        }
    }

document.addEventListener('DOMContentLoaded', function() {
    var botonMostrar = document.getElementById("mostrarFormulario2");
    var ventanaEmergente = document.getElementById("ventanaEmergente2");

    botonMostrar.addEventListener("click", () => {
        // Mostrar la ventana emergente
        ventanaEmergente.style.display = "flex";
        

    });

    const btnCerrar = document.querySelector("#formularioEmergente2 .btn-cerrar");

    btnCerrar.addEventListener("click", function() {
        ventanaEmergente.style.display = "none";
    });
});
</script>
</body>
</html>
