{% extends "administracion/base_admin.html" %}


{% block content %}

<div class="contenedor">
    
<h1 class="titulo">Gestión Funcionarios</h1>

<div class="mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
  
                    <div class="container my-4">
                        <form class="row" id="search-form" method="get" action="{% url 'reservas:buscar_funcionario' %}">
                            <!-- Barra seleccionable -->
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <select name="estado" class="custom-select" onchange="submitForm()">
                                        <option value="todos" {% if estado == 'todos' %}selected{% endif %}>Todos</option>
                                        <option value="habilitados" {% if estado == 'habilitados' %}selected{% endif %}>Funcionarios Habilitados</option>
                                        <option value="inhabilitados" {% if estado == 'inhabilitados' %}selected{% endif %}>Funcionarios Inhabilitados</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Barra de búsqueda -->
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-success">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="card-body">
                    {% if query %}
                    <h4>Resultados para "{{ query }}"</h4>
                    {% endif %}
                {% if resultados and resultados|length > 0 %}
                <div class="table-responsive">
                    <table id="funcionarios-table" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Identificacion</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">Dependencia</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in resultados %}
                            <tr class="draggable-row" data-id="{{ c.id }}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ c.nombres }}</td>
                                <td>{{ c.apellidos }}</td>
                                <td>{{ c.telefono }}</td>
                                <td>{{ c.identificacion }}</td>
                                <td>{{ c.id_cargo }}</td>
                                <td>{{ c.id_dependencia }}</td>
                                <td>
                                    <form method="post" action="{% url 'reservas:gestion_funcionario' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="persona_id" value="{{ c.id }}">
                                    {% if c.estado %}
                                    <button type="submit" class="btn-accion" title="Habilitado">
                                        <img class="btn-estado" src="/static/bootstrap/img/on.png">
                                    </button>
                                    {% else %}
                                    <button type="submit" class="btn-accion" title="Inhabilitado">
                                        <img class="btn-estado" src="/static/bootstrap/img/off.png">
                                    </button>
                                    {% endif %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    {% if resultados.has_other_pages %}
<nav class="paginador">
    <ul class="pagination">
        {% if resultados.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?buscar={{ query }}&estado={{ estado }}&page={{ resultados.previous_page_number }}">Anterior</a>
        </li>
        {% endif %}
        {% for num in resultados.paginator.page_range %}
        <li class="page-item {% if resultados.number == num %}active{% endif %}">
            <a class="page-link" href="?buscar={{ query }}&estado={{ estado }}&page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        {% if resultados.has_next %}
        <li class="page-item">
            <a class="page-link" href="?buscar={{ query }}&estado={{ estado }}&page={{ resultados.next_page_number }}">Siguiente</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

                {% else %}
                <p>No se encontraron resultados para "{{ query }}".</p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>




</div>

<script>
    function submitForm() {
        document.getElementById('search-form').submit();
    }
    </script>

{% endblock %}
