{% extends "administracion/base_admin.html" %}

{% block content %}
<style>
    .titulo {
        padding-bottom: 3%;
        padding-top: 2%;
    }
    
    .profile-pic {
        width: 150px;
        height: 150px;
        background-color:transparent;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin: 0 auto 20px auto;
    }
    
    .profile-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .profile-pic input[type="file"] {
        display: none;
    }
    
    .profile-pic:hover .edit-overlay {
        display: block;
    }
    
    .edit-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        line-height: 150px;
        font-size: 18px;
    }
    
    .buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px; /* Espacio entre botones */
        margin-top:15%;
    }
    
    button.btnt {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 4px;
        margin: 5px;
        width: 200px; /* Ancho deseado para los botones */
    }
    
    button.btn-primary {
        background-color: #2953fc;
        border-color: #2953fc;
    }
    button.btn-danger {
        background-color: #C93732;
        border-color: #C93732;
    }
    
    button.btn-danger:hover {
        background-color: #940b06;
        border-color: #940b06;
    }
    
    
    .editar_foto {
        width: 32px;
    }
    .form_usuario{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top:2%;
    
    }
    #ventanaEmergente { 
        display: none;
        position: fixed; /* Ajustado a fixed para que cubra toda la pantalla */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        justify-content: center;
        align-items: center;
        z-index: 6050; /* Ajustado para mayor prioridad */
    }
    
    #formularioEmergente {
        width: 90%; /* Ancho predeterminado */
        max-width: 600px; /* Ancho máximo para pantallas grandes */
        margin: auto;
    }
    
    .modal-content {
        border-radius: 8px; /* Bordes redondeados */
        overflow: hidden; /* Para que los bordes redondeados funcionen correctamente */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
        background-color: white;
        position: relative;
        overflow-x: scroll;
    }
    
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #dee2e6;
        background-color: #f8f9fa; /* Fondo claro */
    }
    
    .modal-header h5 {
        margin: 0;
        font-size: 1.25rem;
    }
    
    .btn-cerrar {
        width: 24px; 
        height: 24px;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn-cerrar img {
        width: 100%;
        height: 100%;
    }
    
    .modal-body {
        padding: 1.5rem;
    }
    
    .form-group {
        margin-bottom: 1.5rem; /* Espaciado entre campos */
    }
    
    #formularioEmergente .btn-primary {
        background-color: #0f3efa; 
        border-color: #0f3efa;
        font-size: 1rem;
        border-radius: 4px;
        margin: 1%;
    }
    
    /* Media queries para ajustes responsivos */
    @media (max-width: 768px) {
        #formularioEmergente {
            width: 95%; /* Más ancho en pantallas pequeñas */
        }
    }
    
    @media (max-width: 480px) {
        .modal-header {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .modal-header h5 {
            margin-bottom: 0.5rem;
        }
    
    }
    
    .ubicacion{
        text-align: left;
    }
    .prueba{
        top:2%;
    }
    .col-md-8{
        margin-top:4%;
    }
    .nombre_usuario {
        margin-top: 25%;
        overflow-wrap: break-word;
        word-wrap: break-word;
        width: 280px;
    }
    
    @media (max-width: 1482px) {
        .nombre_usuario {
            margin-top: 15%;
            width: 180px;
            font-size: 1.3em; /* Ajuste de tamaño de fuente para pantallas más pequeñas */
        }
    }
    @media (max-width: 1710px) {
        .nombre_usuario {
            margin-top: 15%;
            width: 230px;
            font-size: 1.7em; /* Ajuste de tamaño de fuente para pantallas más pequeñas */
        }
    }
    @media (max-width: 480px) {
        .nombre_usuario {
            margin-top: 10%;
            width: 100%;
            font-size: 1.2em; /* Ajuste adicional para pantallas muy pequeñas */
        }
    }
    .vertical-line {
        position: absolute;
        left: 90%; /* Coloca la línea en el centro horizontal del contenedor */
        top: 0;
        bottom: 0;
        width: 2px; /* Ajusta el grosor de la línea según tus necesidades */
        background-color: black; /* Ajusta el color de la línea según tus necesidades */
    }
    @media (max-width: 767px) {
        .vertical-line {
            display: none;
        }
    }
    .eliminar_foto {
        width: 24px; /* Ajustado para mayor claridad */
        height: 24px;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    
    .eliminar_foto > img {
        width: 100%;
        height: 100%;
    }
    .error-message {
        color: red;
        font-size: 0.875em;
        margin-top: 5px;
    }
    
    .form_group_p {
        margin-bottom: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .form_group_p > input {
        max-width: 350px;
        min-width: 80px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    .form_group_p > select {
        max-width: 350px;
        min-width: 80px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    @media (max-width: 768px) {
        .form_group_p {
            margin-bottom: 2%;
        }
    }
    @media (max-width: 576px) {
        .form_group_p {
            margin-bottom: 1%;
        }
    }
</style>
<div class="contenedor_admin_vist">
    <h1 class="titulo">Perfil </h1>
    
    {% if messages %}
    <div class="container mt-3" id="messages-container">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    

    <div class="row">
        <div class="col-md-4 form_usuario " >

            <div class="vertical-line"></div>

            <form id="profile-pic-form" method="post" enctype="multipart/form-data" action="{% url 'reservas:actualizar_imagen_perfil' %}">
                {% csrf_token %}

                {% if user.imagen_perfil %}
                <button type="button" class="eliminar_foto" onclick="eliminarFotoPerfil();"><img src="/static/bootstrap/img/cerrar.png" alt="Eliminar foto"></button>
                {% endif %}

                <div class="profile-pic" onclick="document.getElementById('profile-pic-input').click();">
                    {% if user.imagen_perfil %}
                        <img src="{{ user.imagen_perfil.url }}" id="profile-pic-img">
                    {% else %}
                        <img src="/static/bootstrap/img/usuario.png" id="profile-pic-img">
                        
                    {% endif %}
                    <div class="edit-overlay">Editar</div>
                    <input type="file" id="profile-pic-input" class="editar_foto" name="imagen_perfil" onchange="updateProfilePic(this);">
                </div>
                <h2 class="nombre_usuario">{{ nombre_completo }}</h2>
            </form>
            <div class="buttons ">
                
                <button type="button" class="btn btnt btn-danger" onclick="inhabilitar_cuenta();">Eliminar cuenta</button>
            </div>
        </div>

        <div class="col-md-8 margenn">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.id_tipo_documento.id_for_label }}">Tipo Documento</label>
                        {{ form.id_tipo_documento }}
                    </div>
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.identificacion.id_for_label }}">{{ form.identificacion.label }}</label>
                        {{ form.identificacion }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.nombres.id_for_label }}">{{ form.nombres.label }}</label>
                        {{ form.nombres }}
                    </div>
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.apellidos.id_for_label }}">{{ form.apellidos.label }}</label>
                        {{ form.apellidos }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label }}</label>
                        {{ form.telefono }}
                    </div>
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.correo.id_for_label }}">{{ form.correo.label }}</label>
                        {{ form.correo }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.id_cargo.id_for_label }}">Cargo</label>
                        {{ form.id_cargo }}
                    </div>
                    <div class="form-group col-md-6 ubicacion">
                        <label for="{{ form.id_dependencia.id_for_label }}">Dependencia</label>
                        {{ form.id_dependencia }}
                    </div>
                </div>
                <div class="form-row prueba">
                    <div class="form-group col-md-6 ubicacion">
                        <button type="button" class="btn btnt btn-primary" id="mostrarFormulario">Cambiar Contraseña</button>
                    </div>

                    <div class="form-group col-md-6 ubicacion2">
                        <button type="submit" class="btn btnt btn-primary">Guardar</button>
                    </div>
                </div>


                

            </form>
            
        </div>
        
    </div>

<!-- Contenido del modal -->


</div>

<div id="ventanaEmergente">
    <div id="formularioEmergente">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar Contraseña</h5>
                <button type="button" class="btn-cerrar" aria-label="Close">
                    <img src="/static/bootstrap/img/cerrar.png" alt="Cerrar">
                </button>
            </div>
            <div class="modal-body" id="modalBodyContent">
                <!-- El contenido se cargará aquí dinámicamente -->
            </div>
        </div>
    </div>
</div>
<script>

    
        // Función para ocultar cada mensaje después de 3 segundos
        setTimeout(function() {
            var messages = document.querySelectorAll('#messages-container .alert');
            messages.forEach(function(message) {
                message.style.display = 'none';
            });
        }, 3000); //segundos del mensaje
    
    function updateProfilePic(input) {
        const file = input.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('profile-pic-img').src = e.target.result;
            }
            reader.readAsDataURL(file);
    
            // Crear un objeto FormData para enviar el archivo
            const formData = new FormData();
            formData.append('imagen_perfil', file);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    
            // Enviar el formulario mediante AJAX
            fetch("{% url 'reservas:actualizar_imagen_perfil' %}", {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) {
                    // Recargar la página
                    location.reload();
                } else {
                    // Manejar el error si la respuesta no es ok
                    console.error('Error al actualizar la imagen de perfil.');
                }
            })
            .catch(error => {
                // Manejar errores de la petición fetch
                console.error('Error en la petición:', error);
            });
        }
    }
    

function inhabilitar_cuenta() {
    if (confirm("¿Está seguro de que desea eliminar la cuenta?")) {
        // Redirigir a la vista que maneja la eliminación de la cuenta
        location.href = "{% url 'reservas:inhabilitar_cuenta' %}";
    }
}



function eliminarFotoPerfil() {
    if (confirm("¿Estás seguro de que deseas eliminar tu foto de perfil?")) {
        fetch("{% url 'reservas:eliminar_imagen_perfil' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload(); // Recargar la página
            } else {
                alert('Error al eliminar la imagen de perfil.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al eliminar la imagen de perfil.');
        });
    }
}

////modal
document.addEventListener('DOMContentLoaded', function() {
    var botonMostrar = document.getElementById("mostrarFormulario");
    var ventanaEmergente = document.getElementById("ventanaEmergente");
    var modalBodyContent = document.getElementById("modalBodyContent");

    botonMostrar.addEventListener("click", () => {
        // Mostrar la ventana emergente
        ventanaEmergente.style.display = "flex";
        
        // Cargar el contenido del formulario dentro del modal
        fetch('{% url "password_change" %}')
            .then(response => response.text())
            .then(html => {
                modalBodyContent.innerHTML = html;
                addFormSubmitListener(); // Agregar el listener al formulario cargado
            })
            .catch(error => {
                console.error('Error al cargar el formulario:', error);
            });
    });

    const btnCerrar = document.querySelector("#formularioEmergente .btn-cerrar");

    btnCerrar.addEventListener("click", function() {
        ventanaEmergente.style.display = "none";
    });

    function addFormSubmitListener() {
        var form = modalBodyContent.querySelector('form');
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío del formulario tradicional

            var formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => {
                if (response.headers.get('content-type').includes('application/json')) {
                    return response.json();
                } else {
                    return response.text();
                }
            })
            .then(data => {
                if (typeof data === 'object' && data.html) {
                    modalBodyContent.innerHTML = data.html;
                    addFormSubmitListener(); // Volver a agregar el listener al formulario cargado
                } else if (typeof data === 'object' && data.message) {
                    alert(data.message); // Mostrar mensaje de éxito
                    ventanaEmergente.style.display = "none";
                } else {
                    modalBodyContent.innerHTML = data;
                    addFormSubmitListener(); // Volver a agregar el listener al formulario cargado
                }
            })
            .catch(error => {
                console.error('Error al enviar el formulario:', error);
            });
        });
    }
});
</script>

{% endblock %}
