<!-- templates/registration/password_change_form.html -->
 <style>
    .invalid-feedback{
        width:200px;
        max-width:400px;
        overflow-wrap: break-word;
        word-wrap: break-word;
    } 
</style>
<form method="post" action="{% url 'password_change' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_old_password" class="form-label">Contraseña Antigua</label>
        <input type="password" name="old_password" id="id_old_password" class="form-control {% if form.old_password.errors %}is-invalid{% endif %}" required>
        <div class="invalid-feedback">
            {{ form.old_password.errors|striptags }}
        </div>
    </div>
    <div class="mb-3">
        <label for="id_new_password1" class="form-label">Nueva Contraseña</label>
        <input type="password" name="new_password1" id="id_new_password1" class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" required>
        <div class="invalid-feedback">
            {{ form.new_password1.errors|striptags }}
        </div>
    </div>
    <div class="mb-3">
        <label for="id_new_password2" class="form-label">Confirmar Nueva Contraseña</label>
        <input type="password" name="new_password2" id="id_new_password2" class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" required>
        <div class="invalid-feedback">
            {{ form.new_password2.errors|striptags }}
        </div>
    </div>
    <div class="text-center"> <!-- Contenedor para centrar el botón -->
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>
